body{
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  font-size: calc(112.5% + 0.5vw);
}

.show_content .detail_text{
  padding:1em;
}

.work_frame{
    background-color: #eeeeee;
    border: solid 3px #dddddd;
    border-radius: 10px;
    max-width: 18em;
    margin-left: auto;
    margin-right: auto;
}
